$primary_color: #f6f6f6;
$max_width: 70rem;
$heroH_txt_clr: #333333;
$heroD_txt_clr: #5c6574;

.home {
  margin-top: 4.53rem;
  background: $primary_color;

  overflow: hidden;
  .hero {
    display: flex;
    align-items: center;
    height: 90vh;
    padding: 1rem;
    position: relative;
    @media (max-width: 1000px) {
      padding: 1rem;
      height: 900px;
    }

    .trc-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;

      @media (max-width: 700px) {
        bottom: 4rem;
      }
      .trace-image {
        margin-left: -4rem;
        width: 100px;
      }
    }

    &__wrapper {
      max-width: 77rem;
      margin-left: auto;
      display: flex;
      align-content: center;
      justify-content: center;

      height: 90%;
      @media (max-width: 567px) {
        margin-right: auto;
        margin-left: 0;
        height: initial;
      }

      .nav_menu {
        display: none;
      }

      .hero_content {
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 2rem;

        @media (max-width: 1000px) {
          grid-template-columns: 1fr;
        }
        .hero__first {
          height: fit-content;
          .first_text {
            font-size: 55px;
            font-weight: 800;
            line-height: 1;
            color: $heroH_txt_clr;
            width: 100%;
            @media (max-width: 567px) and (min-width: 320px) {
              font-size: 40px !important;
            }
            @media (max-width: 567px) {
              font-size: 50px;
            }
          }
          .first_desc {
            font-size: 18px;
            font-weight: 400;
            color: $heroD_txt_clr;
            margin-top: 18px;
            text-align: justify;
            line-height: 18.3px;
            line-height: 1.2;

            @media (max-width: 567px) {
              font-size: 16px;
            }
          }

          .first_cta {
            display: flex;
            gap: 1rem;
            margin-top: 38px;
            column-gap: 1rem;

            @media (max-width: 567px) {
              flex-wrap: wrap;
            }
            .cta-btn {
              font-size: 15px;
              width: 100%;
              text-align: center;
              padding: 1.2rem 0.5rem;
              text-decoration: none;
              color: #fff;
              border-radius: 10px;
              font-weight: 600;
              letter-spacing: 2px;

              @media (max-width: 567px) {
                font-size: 15px;
              }
            }

            .grey {
              background: #333333;

              &:hover {
                background: #3d3d3d;
              }
            }

            .brown {
              background: #a67c5b;
            }
          }
        }

        .hero__second {
          height: 100%;
          position: relative;
          display: flex;
          height: 95%;

          @media (max-width: 567px) {
            height: 400px;
          }

          .food_container {
            position: relative;
            width: 100%;
            height: 100%;
            transition: 1s ease;

            div {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 1s ease;
              position: relative;
              border-radius: 18px;
            }
          }

          .foodCTwo {
            transition: 1s ease-in;
            opacity: 1;
            flex: 4;
          }

          .foodCThree {
            transition: 0.8s ease;
            opacity: 1;
            flex: 4;
          }

          .closeTwo {
            width: 200px;
            height: 100%;
            opacity: 0.6;
            flex: 1;
          }

          .closeThree {
            height: 100%;
            opacity: 0.6;
            flex: 1;
          }

          .closeOne {
            height: 100%;
            opacity: 0.6;
            flex: 1;
          }

          .foodCOne {
            opacity: 1;
            transition: 1s ease;
            flex: 4;
            width: 100%;
            height: 100%;
            transition: 1s ease;
            position: relative;
          }
          .food {
            width: 100px;
            height: 100%;
            object-fit: cover;
            object-fit: none;
            transition: 1s ease-in;
            border-radius: 20px !important;
            position: absolute;
            padding: 0.2rem;
            filter: saturate(20px);
            @media (max-width: 567px) {
              border-radius: 20px !important;
            }
          }

          .foodTwo {
            width: 100%;
          }

          .foodOne {
            width: 100%;
          }

          .foodThree {
            width: 100%;
          }
        }
      }
    }
  }
  .special {
    padding: 5rem 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper {
      max-width: 75rem;
      margin: 0 auto;

      @media (max-width: 800px) {
        max-width: 100%;
        padding: 1rem;
      }

      &__header {
        margin-bottom: 2rem;

        h1 {
          font-size: 55px;
          text-align: center;
          font-weight: 600;

          color: $heroH_txt_clr;

          @media (max-width: 567px) {
            font-size: 50px;
          }

          @media (max-width: 567px) and (min-width: 320px) {
            font-size: 40px !important;
          }
        }

        p {
          color: $heroD_txt_clr;
          font-size: 18px;
          text-align: center;
          max-width: 800px;
          line-height: 1.5;

          padding: 0;

          @media (max-width: 567px) {
            font-size: 16px;
          }
        }
      }

      &__order {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 900px;
        gap: 2rem;
        margin-top: 1rem;

        @media (max-width: 567px) {
          grid-template-columns: 1fr;
          max-width: 100%;
          gap: 2.5rem;
        }

        @media (min-width: 567px) and (max-width: 1000px) {
          grid-template-columns: repeat(2, 1fr);
          max-width: 100%;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .order-card {
          position: relative;
          border-radius: 20px;
          background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 50%,
            #a67b5b1f
          );
          display: flex;
          flex-direction: column;

          width: 300px;
          height: 510px;
        }
        .circle {
          background: linear-gradient(#fdc55e, #a67b5b5b 2%, #ffffff00);
          padding-inline-start: 1rem;
          display: flex;
          flex-direction: column;
          border-radius: 50%;

          align-items: center;
          justify-content: center;
          width: fit-content;
          padding: 1rem;
          position: relative;

          .food_img {
            border: 6px solid #fff;
            border-radius: 50%;
          }

          .price_tag {
            position: absolute;
            background-color: #a67c5b;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 3px solid #fff;
            right: 1rem;
            bottom: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              font-size: 18px;
              font-weight: 400;
              color: #fff;

              @media (max-width: 567px) {
                font-size: 16px;
              }
            }
          }
        }
        .content {
          padding: 2rem;
          display: block;
          margin-bottom: 2rem;

          .food_title {
            font-size: 30px;
            color: #a67c5b;
            font-weight: 800;
            text-align: center;
          }

          .food_desc {
            font-size: 16px;
            line-height: 18px;
            color: #191919;
            margin-top: 14px;
            text-align: center;
          }
        }
        .btn-orders {
          position: absolute;
          bottom: -1rem;

          .btn-cta {
            background: #a67c5b;
            padding: 0.8rem 2rem;
            color: #ffff;
            text-decoration: none;
            border-radius: 100px;
            transition: 300ms ease-in;

            &:hover {
              transition: 300ms ease-in;
              box-shadow: 0 0 40px 8px #a67b5b62;
            }
          }
        }
      }
    }
  }
}

.why-us {
  padding: 5rem 0;

  @media (max-width: 567px) {
    height: auto;
  }
  &__wrapper {
    max-width: 75rem;
    margin: auto;
    &__header {
      h1 {
        font-size: 55px;
        font-weight: 600;
        text-align: center;
        color: $heroH_txt_clr;

        @media (max-width: 567px) {
          font-size: 50px;
        }
        @media (max-width: 567px) and (min-width: 320px) {
          font-size: 40px !important;
        }
      }
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 900px;
      margin: auto;
      margin-top: 30px;
      gap: 2rem;

      @media (max-width: 567px) {
        grid-template-columns: 1fr;
        max-width: 100%;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
      }
      .content__card {
        background: #fff;
        border-radius: 30px;
        border: 1px solid #ffe8d6;
        padding: 2rem 0.7rem;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        width: 300px;
        height: 400px;

        .why-img {
          width: 70px;
          height: 70px;

          @media (max-width: 567px) and (min-width: 320px) {
            height: 50px;
            width: 50px;
          }
        }

        .content-main {
          h1 {
            text-align: center;
            margin-bottom: 16px;
            font-weight: 800;
            font-size: 30px;

            @media (max-width: 567px) and (min-width: 320px) {
              font-size: 25px;
            }
          }
          p {
            color: #5c6574;
            text-align: center;
            line-height: 1.4;
            font-size: 17px;

            @media (max-width: 567px) and (min-width: 320px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

.explore {
  padding: 3rem 1rem;
  @media (max-width: 567px) {
    padding: 1rem;
  }
  &__wrapper {
    max-width: 70rem;
    margin: auto;

    &__header {
      h1 {
        font-size: 55px;
        text-align: center;
        color: $heroH_txt_clr;
        line-height: 1;
        font-weight: 800;

        @media (max-width: 567px) {
          font-size: 50px;
        }

        @media (max-width: 567px) and (min-width: 320px) {
          font-size: 40px !important;
        }
      }
      p {
        color: $heroD_txt_clr;
        font-size: 20px;
        text-align: center;
        max-width: 800px;
        margin-top: 22px;
        margin: auto;

        @media (max-width: 567px) {
          font-size: 16px;
        }
      }
    }
    &__contents {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 28px;
      gap: 1rem;

      @media (max-width: 567px) {
        grid-template-columns: 1fr;
      }
    }

    .exp_image {
      width: 100%;
      border-radius: 5px;
    }
    .middle {
      height: 100%;
    }

    .grid {
      display: flex;
      flex-direction: column;
      gap: 1rem !important;

      @media (max-width: 700px) {
        gap: 2rem !important;
      }
    }
    .explore-container {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin-top: 35px;

      .link {
        text-decoration: none;

        @media (max-width: 567px) {
          width: 100%;
        }
      }
    }
  }
}

.exp_btn {
  display: flex;
  // margin-top: 35px;
  overflow: hidden;
  position: relative;
  background-color: transparent;

  @media (max-width: 567px) {
    width: 100%;
  }

  .explore-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
    background-color: #a67c5b;
    // padding: 0.5rem 0.9rem;
    border-radius: 10px;
    text-decoration: none;
    width: 400px;
    position: relative;

    cursor: pointer;

    .loader {
      width: 100%;
      height: 100%;
      background: #a67c5b;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 300;

      .boxes {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 1rem;
        .box {
          width: 15px;
          height: 15px;
          background-color: #ffffff8c;
          border-radius: 50%;

          &:nth-child(1) {
            animation: moveUpOne 1s infinite 0.5s;
          }

          &:nth-child(2) {
            animation: moveUpTwo 1s infinite 1s;
          }

          &:nth-child(3) {
            animation: moveUpThree 1s infinite 1.5s;
          }

          @keyframes moveUpOne {
            0% {
              transform: translateY(0px);
            }

            50% {
              transform: translateY(-5px);
            }
          }

          @keyframes moveUpTwo {
            0% {
              transform: translateY(0px);
            }

            50% {
              transform: translateY(-5px);
            }
          }
          @keyframes moveUpThree {
            0% {
              transform: translateY(0px);
            }

            50% {
              transform: translateY(-5px);
            }
          }
        }
      }
    }
    @media (max-width: 567px) {
      width: 100%;
    }

    &:hover {
      transition: 300ms ease-in;
      box-shadow: 0 0 40px 2px #a67b5b62;
    }

    p {
      color: #fff;
      padding: 15px;

      width: 100%;

      @media (max-width: 567px) and (min-width: 320px) {
        text-align: center;
      }
    }

    .rounder {
      background-color: #ffff;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 1rem;

      i {
        font-size: 1.5rem;
        color: #a67c5b;
        line-height: 1;
      }
    }
  }
}

.testimonials {
  // background-image: url("../public/utils_assets/Testimonial.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  position: relative;
  padding: 5rem 0;
  background: #000;
  overflow: hidden;
  // animation: zoomup infinite 3s;

  .bg-ov {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    opacity: 0.3;
    animation: zoomup infinite 10s;
  }

  @keyframes zoomup {
    100% {
      transform: scale(1.6);
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    position: absolute;
    top: 0;
  }

  &__wrapper {
    max-width: 70rem;
    margin: auto;

    z-index: 10;
    @media (max-width: 567px) {
      padding: 1rem;
    }
    &__header {
      color: #fff;
      position: relative;
      z-index: 20;

      h1 {
        font-weight: 800;
        font-size: 55px;
        text-align: center;
        line-height: 1;

        @media (max-width: 567px) {
          font-size: 50px;
        }

        @media (max-width: 567px) and (min-width: 320px) {
          font-size: 40px !important;
        }
      }
    }

    &__contents {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      .swiper-pagination {
        position: absolute !important;
        bottom: 1rem !important;
        z-index: 300 !important;
      }

      .swiper {
        position: unset !important;
      }
      .swiper-pagination-bullet {
        background-color: rgb(255, 255, 255) !important;
        width: 40px;
        height: 6px;
        border-radius: 2px;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background: #ffb77e !important;
      }

      .swiper-wrapper {
        position: unset !important;
      }
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        position: unset !important;
      }
      .testimonials__card {
        width: 700px;
        height: 350px;
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        @media (max-width: 700px) {
          width: 100%;
        }
        .testimonial-content {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          i {
            font-size: 5rem;
            color: #a67c5b;
            line-height: 1;
          }

          p {
            max-width: 500px;
            color: #5c6574;
            text-align: center;
          }

          h1 {
            font-size: 1.2rem;
            font-weight: 600;
            color: #333333;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

// Subscribe Styling Section
.subscribe {
  @media (max-width: 567px) {
    padding: 1rem;
  }
  padding: 3rem 0;
  overflow: hidden;
  &__wrapper {
    max-width: $max_width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
      background: rgb(41, 41, 41);
      width: 100%;
      height: 390px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
      overflow: hidden;

      @media (max-width: 700px) {
        width: 100%;
        height: 350px;
      }

      .bg-ov {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        object-fit: cover;
        opacity: 0.1;
        animation: zoomup infinite 10s;
      }

      @keyframes zoomup {
        100% {
          transform: scale(1.6);
        }
      }

      div {
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 10;

        .subscribe-header {
          font-size: calc(50px / 16px) + rem;
          text-align: center;
          color: #fff;
          font-weight: 500;

          @media (max-width: 567px) and (min-width: 320px) {
            font-size: 40px !important;
          }
        }
        .subscribe-input-field {
          display: grid;
          grid-template-columns: 70% 30%;
          background-color: #fff;
          margin-top: 1.4rem;
          border-radius: 15px;
          overflow: hidden;
          width: 600px;

          padding: 0.4rem;
          @media (max-width: 567px) {
            width: 90%;
            grid-template-columns: 1fr;
          }
          input {
            border: none;
            flex: 1;
            height: 100%;
            padding: 0.7rem;
            outline: none;
            display: flex;
            align-items: center;
            font-size: 1rem;
            border-radius: 10px;
            &::placeholder {
              font-size: 17px;
              font-family: "Abhaya Libre", serif;
            }
          }

          .sub-cta {
            background-color: #a67c5b;
            width: 100%;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-decoration: none;
            font-size: 17px;
            height: 60px;

            &:hover {
              background: #b88d6c;
            }
          }
        }
      }
    }
  }
}

//Hero Section for pages
.hero-default {
  height: 60vh;
  background-image: url("../public/utils_assets/Testimonial.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 3rem 0;
  color: #fff;
  margin-top: 5.3rem;

  @media (max-width: 567px) {
    height: 50vh;
  }

  .download-pdf-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: -1rem;
    font-size: 20px;
    @media (max-width: 567px) {
      flex-wrap: wrap;
    }

    a {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      margin-left: 0.1rem;
      text-decoration: underline;
      padding: 0.4rem 0.5rem;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      border-radius: 4px;
      align-items: center;
      justify-content: center;

      @media (max-width: 567px) {
        display: block;
      }
    }
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(20, 17, 0, 0.753);
    position: absolute;
    top: 0;
  }

  &__wrapper {
    max-width: 70rem;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 20;

    @media (max-width: 567px) {
      padding: 0.8rem;
    }

    .hero-d-title {
      font-size: 60px;
      max-width: 1000px;
      line-height: 1;
      font-weight: 800;
      margin: auto;

      @media (max-width: 567px) {
        font-size: 55px;
        line-height: 0.8;
      }

      @media (max-width: 567px) and (min-width: 320px) {
        font-size: 40px !important;
      }
    }

    .hero-d-desc {
      font-size: 20px;

      max-width: 1100px;
      margin: auto;
      margin-top: 1.5rem;
      line-height: 1.2;

      @media (max-width: 567px) {
        font-size: 16px;
      }

      @media (max-width: 567px) and (min-width: 320px) {
        font-size: 15px !important;
      }
    }
  }
}

//Gallery
.gallery {
  &__wrapper {
    max-width: 70rem;
    margin: auto;
    @media (max-width: 567px) {
      padding: 1rem;
    }
    &__contents {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 28px;
      gap: 1rem;

      @media (max-width: 567px) {
        grid-template-columns: 1fr;
      }
    }

    .exp_image {
      width: 100%;
    }

    .middle {
      height: 100%;
    }
  }
}

.about {
  overflow: hidden;
  padding: 3rem 0;
  padding: 1rem;
  &__wrapper {
    max-width: 70rem;
    margin: auto;

    .text {
      font-size: 18px;
      color: #5c6574;
      text-align: center;
      margin-top: 1.4rem;
      line-height: 1;
    }
  }
}

//Contact Page Styling

.contact {
  overflow: hidden;
  height: 100vh;
  padding: 5rem 0;

  &__wrapper {
    max-width: 70rem;
    margin: auto;

    @media (max-width: 567px) {
      padding: 1rem;
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
      gap: 1.5rem;
      @media (max-width: 567px) {
        grid-template-columns: 1fr;
      }
      .first__contact-details {
        .error-txt {
          color: #ff0077;
          font-size: 15px;
        }
        .contact-form {
          input {
            display: block;
            width: 90%;
            height: 50px;
            outline: none;
            padding: 0.8rem;
            margin-top: 1rem;
            border: 1px solid rgba(65, 65, 65, 0.39);
            border-radius: 4px;
            background-color: rgb(238, 238, 238);

            @media (max-width: 567px) {
              width: 100%;
            }

            &:nth-child(2) {
              background-color: rgb(250, 250, 250);
              border: 1px solid #ffd595;
            }

            &::placeholder {
              font-size: 16px;
              font-family: "Abhaya Libre", serif;
            }
          }

          textarea {
            margin-top: 2rem;
            width: 90%;
            height: 100px;
            outline: none;
            padding: 1rem;
            margin-top: 1rem;
            border: 1px solid rgba(65, 65, 65, 0.39);
            border-radius: 4px;
            background-color: rgb(238, 238, 238);
            max-height: 100px;
            min-height: 100px;

            @media (max-width: 567px) {
              width: 100%;
            }

            &::placeholder {
              font-size: 16px;
              font-family: "Abhaya Libre", serif;
            }
          }
        }
      }

      .second__contact-details {
        .second-header {
          font-size: 20px;
          font-weight: 800;
        }

        .contact-phone,
        .contact-email {
          font-size: 20px;
          font-weight: 800;
          margin-top: 1.5rem;

          span {
            font-weight: 400;
          }
        }
        .social_media {
          display: flex;
          gap: 1rem;
          margin-top: 1rem;
          div {
            width: 40px;
            height: 40px;
            border: 1px solid #000;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

// Reservation Styling

.reservation-form {
  width: 100%;
  overflow: hidden;
  padding: 5rem 0;
  position: relative;

  @media (max-width: 567px) {
    height: auto;
  }
  &__wrapper {
    max-width: 77rem;
    margin: 0 auto;
    @media (max-width: 567px) {
      padding: 1rem;
    }
    .r-btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        position: relative;
        overflow: hidden;

        @media (max-width: 567px) {
          width: 100%;
        }
      }
    }

    .form-container {
      width: 600px;
      margin: auto;

      @media (max-width: 567px) {
        width: 100%;
      }

      .showListOptions {
        height: max-content !important;
        transition: 1s ease;
        padding: 0.7rem;
        background: #fff;
        z-index: 30;
      }

      .second-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 1rem;

        @media (max-width: 567px) {
          grid-template-columns: 1fr;
        }

        .date {
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          border-radius: 0.3rem;
          border: 1px solid #89919e9f;
          align-items: center;
          background: #f0f1f3a9;
          position: relative;
          gap: 1rem;
        }
        .first-container {
          padding: 0.8rem;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          border-radius: 0.3rem;
          border: 1px solid #89919e9f;
          align-items: center;
          background: #f0f1f3a9;
          position: relative;
          gap: 1rem;

          i {
            font-size: 30px;
            color: #a67c5b;
            transition: 300ms ease-in;

            &:nth-child(3) {
              color: #ffb77e;
              font-weight: 800;
              font-size: 35;
            }
          }
          .rotateArrow {
            transform: rotateZ(180deg);
            transition: 300ms ease-in;
          }

          p {
            font-size: 1.2rem;
            flex-grow: 1;
          }
        }
      }

      .oth-list {
        position: absolute;
        top: 105%;
        width: 100%;
        right: 0;
        height: 0;
        overflow: hidden;
        transition: 100ms ease;
        border-radius: 10px;
        overflow: scroll;

        // box-shadow: 0 0 5px 5px #5c6574;

        ul {
          li {
            list-style-type: none;
            button {
              width: 100%;
              padding: 0.8rem;
              border: none;
              border-bottom: 1px solid #ffe0b2;
              z-index: -1;
              cursor: pointer;
              font-family: "Abhaya Libre", serif;
              font-size: 1rem;
              text-align: left;
              background-color: transparent;
              &:focus,
              &:hover {
                background-color: #fdf0db;
                border-radius: 3px;
              }
            }
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @media (max-width: 567px) {
          width: 100%;
        }
        input {
          width: 100%;
          padding: 1.1rem;
          outline: none;
          border-radius: 0.3rem;
          border: 1px solid #89919e9f;
          background: transparent;
          font-family: "Abhaya Libre", serif;
          font-size: 1.1rem;

          &:nth-child(2) {
            border: 1px solid #ffe0b2;
            background: #fff;
          }
          &::placeholder {
            font-family: "Abhaya Libre", serif;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.email {
  padding: 8rem;
  &__wrapper {
    h1 {
      color: red;
    }
  }
}

// styles.scss
$primary-color: #333;
$secondary-color: #666;

.email {
  font-family: "Abhaya Libre", serif;
  background-color: #f4f4f4;
  padding: 4rem;

  .email__wrapper {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
      color: $primary-color;
      margin-bottom: 20px;
    }

    p {
      color: $secondary-color;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }

      th {
        background-color: #5c5c5c;
        color: white;
      }
    }

    a {
      color: $primary-color;
      text-decoration: none;
      margin-top: 1rem;
      border-bottom: 1px solid grey;
      display: inline-block;
    }
  }
}

//Set Overlay when navigator is opened
.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.336);
  position: absolute;
  left: 0;
  backdrop-filter: blur(2px);
  z-index: 40;
  display: none;
}

.showOverlay {
  @media (max-width: 567px) {
    display: block;
  }
}

.carousel-inner {
  width: 800px;
}
.carousel-item {
  background-color: #fff !important;
  width: 800px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  img {
    display: none !important;
  }
}

.c-content {
  background-color: red;
  font-size: 30px;
  position: position;
  width: 100% !important;
  height: 100% !important;
  z-index: 40;
  left: 0;
}

.carousel-caption {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}
.carousel-indicators {
  position: absolute !important;
  bottom: 1rem !important;
  li {
    height: 5px !important;
    width: 50px !important;
  }
  .active {
    background-color: #a67c5b !important;
  }
}

.inquiry-form {
  padding: 4rem 0;

  &__wrapper {
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
    .inquiry-form-header {
      font-size: 55px;
      text-align: center;
      font-weight: 600;
      @media (max-width: 567px) and (min-width: 320px) {
        font-size: 40px;
        line-height: 1;
      }
    }

    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      form {
        display: flex;
        flex-direction: column;
        width: 600px;
        .bg-lo {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        @media (max-width: 567px) {
          width: 96%;
        }

        .dishes {
          display: block;
          width: 100%;
          height: 50px;
          outline: none;
          padding: 0.8rem;
          margin-top: 1rem;
          border: 1px solid rgba(65, 65, 65, 0.39);
          border-radius: 4px;
          background-color: rgb(238, 238, 238);
          padding: 0.8rem;
          text-align: left;
        }

        .dishes-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          margin-top: 1rem;
          gap: 1rem;
          div {
            display: inline-block;
            background-color: #a67c5b;
            padding: 0.7rem;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
              padding: 0.6rem;
              background-color: #fff;
              width: 20px;
              height: 20px;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              i {
                font-size: 18px;
                cursor: pointer;
                color: #a67c5b;
                font-weight: 600;
                line-height: 1;
              }
            }
            p {
              font-size: 15px;
              color: #fff;
              font-weight: 600;

              @media (max-width: 567px) {
                font-size: 14px;
              }
            }
          }
        }
        @media (max-width: 567px) {
          width: 100%;
        }
        .catering-cta {
          margin-top: 1rem;
          padding: 0.7rem;
          border-radius: 5px;
          background-color: $heroH_txt_clr;
          color: #fff;

          &:hover {
            background-color: #555555;
          }
        }
        input,
        select {
          display: block;
          width: 100%;
          height: 50px;
          outline: none;
          padding: 0.8rem;
          margin-top: 1rem;
          border: 1px solid rgba(65, 65, 65, 0.39);
          border-radius: 4px;
          background-color: rgb(238, 238, 238);
          // width: 100%;
          // outline: none;
          // padding: 0.6rem;
          // color: $primary-color;
          // border-radius: 5px;
          // border: none;
          // border: 1px solid rgb(182, 182, 182);

          &::placeholder {
            font-size: 15px;
          }
        }

        .yellow-out {
          background-color: rgb(250, 250, 250);
          border: 1px solid #ffd595;
        }

        .date-container {
          label {
            display: flex;
            justify-content: space-between;
          }

          input {
            border: none;
          }
        }

        label {
          margin-top: 0.7rem;
        }

        textarea {
          width: 100%;
          max-height: 100px;
          min-height: 100px;
          margin-top: 0.7rem;
          border-radius: 5px;
          border: 1px solid rgb(182, 182, 182);
          padding: 0.7rem;
          outline: none;
        }
        .date {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          width: 400px;

          width: 100%;
          height: 50px;
          outline: none;
          padding: 0.8rem;
          margin-top: 1rem;
          border: 1px solid rgba(65, 65, 65, 0.39);
          border-radius: 4px;
          background-color: rgb(238, 238, 238);
        }
        .form-flex {
          display: flex;

          column-gap: 1rem;
          width: 100%;

          @media (max-width: 567px) {
            flex-wrap: wrap;
          }

          .delivery {
            padding: 0.6rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            cursor: pointer;
            border-radius: 0.3rem;
            border: 1px solid #89919e9f;
            align-items: center;
            background: #f0f1f3a9;
            position: relative;
            gap: 1rem;
            margin-top: 1rem;

            .showDListOptions {
              height: max-content !important;
              transition: 1s ease;
              padding: 0.7rem;
              background: #fff;
              z-index: 30;
              overflow: hidden;
              border: 1px solid rgb(216, 216, 216);
            }
            .delivery-list {
              position: absolute;
              top: 105%;
              width: 100%;
              right: 0;
              height: 0;
              overflow: hidden;
              transition: 100ms ease;
              border-radius: 10px;

              // box-shadow: 0 0 5px 5px #5c6574;

              ul {
                width: 100%;
                li {
                  list-style-type: none;
                  button {
                    width: 100%;
                    padding: 0.8rem;
                    border: none;
                    border-bottom: 1px solid #ffe0b2;
                    z-index: -1;
                    cursor: pointer;
                    font-family: "Abhaya Libre", serif;
                    font-size: 1rem;
                    text-align: left;
                    background-color: transparent;
                    &:focus,
                    &:hover {
                      background-color: #fdf0db;
                      border-radius: 3px;
                    }
                  }
                }
              }
            }

            i {
              font-size: 16px;
              color: #a67c5b;
              transition: 300ms ease-in;

              &:nth-child(3) {
                color: #ffb77e;
                font-weight: 800;
                font-size: 35;
              }
            }
            .rotateArrow {
              transform: rotateZ(180deg);
              transition: 300ms ease-in;
            }

            p {
              font-size: 1rem;
              flex-grow: 1;
              display: flex;
              align-items: center;
            }
          }

          .m-container {
            margin-top: 1rem;
            width: 100%;

            @media (max-width: 567px) {
              grid-template-columns: 1fr;
            }

            .date {
              padding: 1rem;
              display: flex;
              justify-content: space-between;
              cursor: pointer;
              border-radius: 0.3rem;
              border: 1px solid #89919e9f;
              align-items: center;
              background: #f0f1f3a9;
              position: relative;
              gap: 1rem;
            }
            .oth-list {
              position: absolute;
              top: 105%;
              width: 100%;
              right: 0;
              height: 0;
              overflow: hidden;
              transition: 100ms ease;
              border-radius: 10px;
              overflow: scroll;

              // box-shadow: 0 0 5px 5px #5c6574;

              ul {
                width: 100%;
                li {
                  list-style-type: none;
                  button {
                    width: 100%;
                    padding: 0.8rem;
                    border: none;
                    border-bottom: 1px solid #ffe0b2;
                    z-index: -1;
                    cursor: pointer;
                    font-family: "Abhaya Libre", serif;
                    font-size: 1rem;
                    text-align: left;
                    background-color: transparent;
                    &:focus,
                    &:hover {
                      background-color: #fdf0db;
                      border-radius: 3px;
                    }
                  }
                }
              }
            }
            .showListOptions {
              height: max-content !important;
              transition: 1s ease;
              padding: 0.7rem;
              background: #fff;
              z-index: 30;
              overflow: hidden;
              border: 1px solid rgb(216, 216, 216);

              // ul {
              //   width: 100%;
              // }
            }
            .first-container {
              padding: 0.6rem;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              cursor: pointer;
              border-radius: 0.3rem;
              border: 1px solid #89919e9f;
              align-items: center;
              background: #f0f1f3a9;
              position: relative;
              gap: 1rem;

              i {
                font-size: 16px;
                color: #a67c5b;
                transition: 300ms ease-in;

                &:nth-child(3) {
                  color: #ffb77e;
                  font-weight: 800;
                  font-size: 35;
                }
              }
              .rotateArrow {
                transform: rotateZ(180deg);
                transition: 300ms ease-in;
              }

              p {
                font-size: 1rem;
                flex-grow: 1;
                display: flex;
                align-items: center;
              }
            }
          }

          div {
            display: flex;
            flex-direction: column;
            width: 100% !important;
            justify-content: flex-start;

            label {
              text-align: left;

              width: 100%;
            }

            &::nth-child(1) {
              flex-grow: 1;
            }

            select {
              width: 100%;
              display: none;
            }
          }
        }
      }
    }
  }
}

//Preloader
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  scrollbar-width: 30px;

  .preloader__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .preloader__content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 0.9rem;
      animation: moveUpP 1.5s ease 3s forwards;
      .arrow {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 50px;
        height: 60px;
        .arrow-svg {
          animation: svg 2s linear 1s forwards;
          position: absolute;
          bottom: 0;
        }

        @keyframes svg {
          0% {
            height: 44px;
          }

          40% {
            height: 20px;
          }

          70% {
            height: 20px;
          }

          100% {
            height: 70px;
          }
        }
      }
      @keyframes moveUpP {
        0% {
          transform: translateY(0);
          opacity: 1;
        }

        100% {
          transform: translateY(-100vh);
          opacity: 0;
        }
      }
    }
  }

  svg {
    width: 100px;
  }
}

.bg-lo {
  display: flex;
  align-items: center;

  gap: 1rem;
  margin-top: 35px;
}
.loader-cta {
  width: 30px;
  height: 30px;
  border: 3px solid #8f8462;
  border-radius: 50%;
  border-left: 5px solid transparent;
  // right: 7px;
  // top: 20%;
  margin-top: 0;
  animation: spin 200ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
  // @keyframes rotate {
  //   from {
  //     transform: rotateZ(0deg);
  //   }

  //   to {
  //     transform: rotateZ(360deg);
  //   }
  // }
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #00000083;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  overflow: auto;

  i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 60;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
  }
}
.modal {
  width: 600px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  z-index: 100;

  padding: 1rem;
  border-radius: 10px;

  @media (max-width: 567px) {
    width: 70%;
  }
  .item-container {
    display: block;
    border-bottom: 1px solid rgb(182, 182, 182);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }
}

.calender-container {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #000000bd;

  .calender-main {
    background-color: #fff;
    border-radius: 10px;
  }
  .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    h1 {
      font-size: 25px;
      color: #a67c5b;
      font-weight: 700;

      span {
        font-weight: 500;
        font-size: 20;
      }
    }
    button {
      text-decoration: underline;
    }
  }
}

.custom-message {
  max-width: 600px;
  margin: auto;
  border-left: 2px solid #8f8462;
  padding: 0.8rem;

  .contact {
    font-weight: 800;
  }
}

.cta-send {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-catering {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-circle {
  width: 30px !important;
  height: 30px;

  display: inline-flex;
  border: 2px solid #d4a37d;
  border-left-color: transparent;
  border-radius: 100%;
  animation: spin 200ms linear infinite;
}

.error-txt {
  color: #ff0000;
  font-size: 15px;

  text-align: left;
  width: 100%;
}
